
/*creates round button in a standardised color*/
.mainButtonPreset{
    outline:none;
    z-index: 1000;
    position: fixed;
    border: none;
    background:rgba(200,200,200,0.3);
    backdrop-filter: blur(5px);
    width: 50;
    height:50;
    border-radius: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);

}

.ElementText{
    position: fixed;
    z-index: 5;
    top:20px;
    left:30px;
}

.ElementText h1{
    font-size:70px;
}

#typeOutDivHolder{
    position:fixed;
    bottom: 20px;
    width:100%;
    z-index: 5;
    height:fit-content;
    margin-left:45%
}


#typeOutElementText{
    margin-left:auto;  
    margin-right:auto;
    border:none;
    outline:none;
    padding:3px;
    padding-left:6px;
    height:30px;
    border-radius:50px;
    resize: none;
    background:rgba(230, 230, 230, 0.6);
    backdrop-filter:blur(10px);
}

#typeOutElementText:hover{
    transition-duration: 0.6s;
    background:rgba(210,210,210,0.7);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}


.toggleMainButtonPreset{
    outline:none;
    z-index: 2;
    position: absolute;
    border: none;
    background:rgba(0,0,0,0);
    background-size: auto;
    background-position: 40%;
    backdrop-filter: blur(5px);
    width: 40;
    height:40;
    font-family: "Arame-Regular";
    color: rgb(100,100,100);
    background:rgba(190,190,190,0.3);
    border-radius:20%;

}
.toggleButtonPreset:hover{
    transition-duration: 0.8s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.clearPresetButton{
    outline:none;
    z-index: 2;
    position: sticky;
    border: none;
    background:rgba(0,0,0,0);
    width: 50;
    height:50;
    border-radius: 50%;

}
.toggleButtonPreset{
    top:60px;
    left:140px;
    background-position: center;
    background-repeat: no-repeat;
}
.LPtoggleButtonPreset{
    top:60px;
    left:190px;
    background-image:url('./image/trash.svg');
    background-position: center;
    background-repeat: no-repeat;
}


.textBoxOpenPreset{
    position: absolute;
    top:60px;
    left:240px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url("image/pencil-square.svg");
}

.textBoxOpenPreset:hover{
    transition-duration: 0.8s;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.LPtoggleButtonPreset:hover{
    transition-duration: 0.8s;
    background-color:rgba(255, 133, 147,0.6);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}


.backGroundPencil{
    background-image: url('image/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    top: 91%;
    left:2%;
}

.backGroundBranching{
    background-image: url('image/cursor-fill.svg');
    background-position: center;
    background-repeat: no-repeat;
    top: 91%;
    left:7%;
}

.backGroundJoinBranches{
    background-image: url('image/JoinBranches.svg');
    background-position: center;
    background-repeat: no-repeat;
    top: 91%;
    left:12%;
}

.backGroundFS{
    background-image: url('image/fullscreen.svg');
    background-position: center;
    background-repeat: no-repeat;
    top:93%;
    left:96%;
}

.sideNoteCol{
    background-image: url('image/card-text.svg');
    background-position: center;
    background-repeat: no-repeat;
    top:77%;
    left:96%;
}

.backGroundviewButt{
    background-image: url('image/eye.svg');
    background-position: center;
    background-repeat: no-repeat;
    top:85%;
    left:96%;
}

.mainButtonPreset:hover {
    transition-duration: 0.8s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.clearPresetButton:hover {
    transition-duration: 0.8s;
    background-color:rgba(150,150,150,0.1);
    
}

.selectionBoxPreset{
    position: absolute;
    top: 93%;
    left:45%;
    outline:none;
    border-radius: 10px;
    border:none;
    backdrop-filter: blur(5px);
    width:130px;
    background:rgba(210, 184, 255,0.3);
    color: rgba(60,60,60,0.19);
    z-index: 1000;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.1);
    padding:3px;
}

.ringedSelection{
    position:sticky;
    top: 88%;
    left:45%;
    outline:none;
    border-radius: 10px;
    border:none;
    backdrop-filter: blur(5px);
    width:130px;
    background:rgba(210, 184, 255,0.3);
    color: rgba(60,60,60,0.19);
    z-index: 1000;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.1);
    padding:3px;
    visibility: hidden;
}

.ringedSelection:hover{
    transition-duration: 0.8s;
    color: rgba(20,20,20,0.59);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.selectionBoxElementsPreset{
    position:absolute;
    top: 30px;
    left:140px;
    outline:none;
    border-radius:20px;
    border:none;
    backdrop-filter: blur(5px);
    width:140px;
    background:rgba(200,200,200,0.3);
    color: rgba(60,60,60,0.19);
    z-index: 2;
 
}

.selectionBoxElementsPreset:hover{
    transition-duration: 0.8s;
    color: rgba(20,20,20,0.59);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}


.selectionBoxPreset:hover{
    transition-duration: 0.8s;
    color: rgba(20,20,20,0.59);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
}


#defaultCanvas0{
    z-index: 1;
    position: fixed;
}


.filterBlur{
    filter:blur(8px);
}

.backGroundToggle{
    background-image: url('image/eye.svg');
    background-position: center;
    background-repeat: no-repeat;
    top:55%;
    left:56%;
}

textarea{
    display:block;
}

.textAreaPreset{
    position: absolute;
    /*
    top:30px;
    left:290px;*/
    z-index: 2;
    background:rgba(210,210,210, 0.5);
    width:250px;
    height:70px;
    border-radius: 10px;
    border:none;
    outline: none;
    padding:10px;
    text-align: justify;
    backdrop-filter: blur(5px);
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:rgb(50,50,50);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}



::-webkit-resizer {
    display: none;
  }

::placeholder{
    color: rgb(190,190,190)
}

.noteCol {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    color:rgb(50,50,50);
    background:rgba(200,200,200, 0.5);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .noteCol a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .noteCol a:hover {
    color: #f1f1f1;
  }
  
  .noteCol .closebtn {
    position: absolute;
    top: 0;
    right:90%;
    font-size: 36px;
    margin-left: 50px;
  }
  
#downloadPopup{
    visibility:hidden;
    z-index:2;
    position:absolute;
    top:50px;
    right:20px;
    width:120px;
    height:fit-content;
    background:rgb(235,235,235,0.6);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.1);
    border-radius:5px;
    }
#downloadPopup button{
    width:100%;
    background:transparent;
    outline:none;
    border:none;
    font-size:16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:none;
    border-radius:3px;
}

#downloadPopup button:hover{
    background:rgb(220,220,220);
    }

  @media screen and (max-height: 450px) {
    .noteCol {padding-top: 15px;}
    .noteCol a {font-size: 18px;}
  }
  .txtAreaNoteCol{
    font-family:Arial, Helvetica, sans-serif;
    background:rgba(200,200,200, 0.0);
    padding: 20px;
    font-size:14px;
    outline:none;
    border:none;
    width:100%;
    height:90%;
  }
  #buttonArray{
      margin-left:10px;
  }
  #buttonArray button{
      margin:10px;
      width:50px;
      height:50px;
      border:none;
      outline:none;
      border-radius:50%;
  }
  .downloadButton{
      background-image: url('image/download.svg');
      position:absolute;
      top:0;
      right:0;
      background-repeat:no-repeat;
      background-position:center;
  }

  .pillWrap{
      display:flex;
      flex-wrap:wrap;
      flex-direction:row;
  }

  #buttonPill{
      position:fixed;
      z-index: 1000;
      left:30px;
      bottom:20px;
      background:rgb(210, 184, 255,0.8);
      backdrop-filter: blur(15px);
      width:fit-content;
      border-radius:40px;
    border:1px solid rgb(209, 185, 255);
    transition-duration: 0.3s;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.1);
  }
.pillButtonStyle{
    width:40px;
    height: 40px;
    margin:10px;
    border-radius:50%;
    border:none;
    background:transparent;
}
.pillButtonStyle:hover{
    transition-duration: 0.3s;
    background:rgb(220, 214, 255)
}
i{
    color:rgb(67, 39, 101)
}

.atomBarContainer{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    z-index:1000;
}

#atomBarButtonContainer{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
}